/* RESET */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: #b91450;
}
.contenitore {
    max-width: 80%;
    margin: 0 auto;
}
.form-biglietto-campi {
    display: flex;
    justify-content: space-around;
}
input, select {
    display: block;
}
.form-biglietto, .biglietto {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.biglietto {
    display: none;
    background-color: white;
    margin-top: 40px;
}

.biglietto.aperto {
    display: block;
}